header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsla(0,0%,10%,.95);
    box-shadow: 0 0 30px hsla(0,0%,0%,.5)
}

.home {
    display: block;
    width: 24px;
    height: 24px;
    padding: 0 10px;
    box-sizing: content-box;
    cursor: pointer;
}

.flex-column {
    display: flex;
    flex: 1;
    align-items: center;
}

.flex-center {
    justify-content: center;
}

.flex-right {
    justify-content: flex-end;
}

.current-user-menu-button {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-name {
    margin-left: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    background-color: hsl(0,0%,20%);
    border-radius: 200px;
}