<header>
    <ng-container *ngIf="currentUserProfile">
        <div class="current-user-menu-container flex-column">
            <img class="home" (click)="goHome()" src="assets/icons/home.svg"/>
            <div class="current-user-menu-button" mat-button [matMenuTriggerFor]="menu">
                <div class="avatar"></div>
                <span class="user-name">{{currentUserProfile.firstName}} {{currentUserProfile.lastName}}</span>
            </div>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="goToSettings()">Settings</button>
                <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
        </div>

        <div class="flex-column flex-center">
            <app-search></app-search>
        </div>

        <div class="flex-column flex-right">
            <app-post-box [currentUserProfile]="currentUserProfile"></app-post-box>
        </div>
    </ng-container>
</header>