<h1>Cinegrade</h1>

<mat-accordion>

    <mat-expansion-panel expanded>

        <mat-expansion-panel-header>
            <mat-panel-title>Sign In</mat-panel-title>
        </mat-expansion-panel-header>

        <form #loginForm [formGroup]="credentials" (ngSubmit)="login(loginForm)">
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Email</mat-label>
                <input matInput required formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Password</mat-label>
                <input matInput required type="password" formControlName="password">
            </mat-form-field>
            <button mat-flat-button color="accent">Sign In</button>
        </form>

    </mat-expansion-panel>

    <mat-expansion-panel>

        <mat-expansion-panel-header>
            <mat-panel-title>Create an Account</mat-panel-title>
        </mat-expansion-panel-header>

        <form #newAccountForm [formGroup]="newAccount" (ngSubmit)="createNewAccount(newAccountForm)">
            <div class="row">
                <mat-form-field appearance="outline" color="accent">
                    <mat-label>First Name</mat-label>
                    <input matInput required formControlName="firstName">
                </mat-form-field>
                <mat-form-field appearance="outline" color="accent">
                    <mat-label>Last Name</mat-label>
                    <input matInput required formControlName="lastName">
                </mat-form-field>
            </div>
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Email</mat-label>
                <input matInput required formControlName="email">
            </mat-form-field>
            <div class="row">
                <mat-form-field appearance="outline" color="accent">
                    <mat-label>User Name</mat-label>
                    <input matInput required autocomplete="off" formControlName="userName">
                </mat-form-field>
                <mat-form-field appearance="outline" color="accent">
                    <mat-label>Password</mat-label>
                    <input #passwordField matInput required autocomplete="off" type="password" formControlName="password">
                </mat-form-field>
                <button mat-flat-button color="accent" (click)="toggleFormType(passwordField, $event)">{{passwordHidden ? "Show Password" : "Hide Password"}}</button>
            </div>
            <button mat-flat-button color="accent">Create</button>
        </form>

    </mat-expansion-panel>

</mat-accordion>