.home {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  h1 {
      font-family: sans-serif;
      font-size: 72px;
  }

  form {
      display: flex;
      flex-direction: column;
  }

  .row {
    display: flex;
  }

  .row mat-form-field {
    width: 50%;
  }

  .row mat-form-field:last-child {
      margin-left: 20px;
  }

  /* input {
      padding: 10px 10px;
      margin: 10px 0;
  } */

  button {
      border: 1px solid rgba(0,0,0,.25);
      border-radius: 4px;
      font-size: 14px;
  }

  button {

  }