<button mat-flat-button color="accent" (click)="setPostBoxVisibility(true)">Post</button>

<ng-container *ngIf="visible">

    <div class="overlay-background" (click)="setPostBoxVisibility(false)"></div>

    <div class="overlay-container">
        <ion-icon class="overlay-close" (click)="setPostBoxVisibility(false)" name="ios-close-circle-outline"></ion-icon>

        <ng-container *ngIf="!selectedTopic">
            <div *ngIf="results" (click)="resetOmniBox(searchForm)" class="back-button">
                <img class="post-reset" src="assets/icons/back.svg" />
                <span>Start Over</span>
            </div>
            <div class="step-title">Choose a movie or show.</div>

            <form class="post-box-container" #searchForm="ngForm" (ngSubmit)="search(searchBox.value)" autocomplete="off">
                <input #searchBox class="text-input search-box" autofocus autocomplete="off" />
            </form>
            <div *ngIf="results" class="results">
                <div class="result" *ngFor="let result of results; let i = index" data-id="{{i}}" (click)="setSelectedTopic(result)">
                    <img class="result-image" *ngIf="result.backdrop_path" src="{{constructImageUrl(result.backdrop_path, 'sm')}}" />
                    <div class="result-info">
                        <div>{{result.title || result.name}}</div>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="selectedTopic">
            <div *ngIf="results" (click)="resetOmniBox(newPost)" class="back-button">
                <img class="post-reset" src="assets/icons/back.svg" />
                <span>Start Over</span>
            </div>
            <div class="step-title">Write your review.</div>
            <div class="post-container">
                <form [formGroup]="newPost" class="post-box-container" (ngSubmit)="addPost(newPost)" autocomplete="off">
                    <mat-checkbox formControlName="rating" required class="post-rating">Would you recommend {{selectedTopic.title || selectedTopic.name}}?</mat-checkbox>
                    <input formControlName="text" required class="text-input post-box">
                    <button mat-flat-button color="accent" type="submit">Post</button>
                </form>
                <div class="topic-container">
                    <img class="topic-poster" *ngIf="selectedTopic.poster_path" src="{{constructPosterImageUrl(selectedTopic.poster_path)}}" />
                    <div class="topic-info">
                        <h2>{{selectedTopic.title || selectedTopic.name}}</h2>
                        <p class="topic-description">{{selectedTopic.overview}}</p>
                    </div>
                </div>
            </div>
        </ng-container>

    </div>

</ng-container>