/* GENERAL */

.overlay-container {
    top: 10%;
    transform: translate(-50%,0);
    width: 50%;
    height: initial;
    max-height: 80%;
}

.post-box-container .button {
    cursor: pointer;
    padding: 10px 20px;
    border: 0;
    font-size: 18px;
    padding: 10px 30px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
}

.text-input {
    width: 100%;
    margin: 20px 0 0;
    padding: 20px;
    font-size: 16px;
}

.post-box-container button {
    margin-top: 20px;
}

.result {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 60px;
}

.result:not(:last-child) {
    margin-bottom: 1px;
    border-bottom: 1px solid hsl(0,0%,10%);
}

.result:hover {
    background-color: hsl(0,0%,10%);
}

.result-image {
    width: auto;
    height: 60px;
}

.results {
    overflow: scroll;
    max-height: 240px;
    margin: 10px 0;
}

.result-info {
    margin-left: 10px;
}

/* After Selected Topic */

.post-container {
    display: block;
}

.post-box-container {
    margin-top: 20px;
}

.post-box {
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
}

.post-rating {
    width: 24px;
    height: 24px;
}

.post-reset {
    width: 24px;
    height: 24px;
}

.topic-container {
    display: flex;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid hsl(0,0%,10%);
    border-left: 0;
    border-right: 0;
    border-radius: 0 0 4px 4px;
}

.topic-container h2 {
    margin: 20px 0;
}

.topic-poster {
    width: 200px;
    height: auto;
    border-radius: 4px;
    align-self: flex-start;
}

.topic-info {
    margin-left: 20px;
}

.topic-description {
    margin: 0;
}

/* Steps */

.step-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.back-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
}