.overlay-topic-content {
    position: relative;
    display: flex;
    align-items: center;
    color: white;
    overflow: hidden;
}

.overlay-topic-info {
    align-self: flex-start;
    height: 100%;
    overflow: hidden;
    margin-left: 20px;
}

.overlay-topic-image {
    width: 200px;
    border-radius: 4px;
}

.topic-description {
    height: 100%;
    overflow: scroll;
}

/* .overlay-topic-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scale(1.5);
    filter: blur(5px);
} */

/*REVIEWS FROM FRIENDS*/

.topic-social {
    margin-top: 20px;
    border-top: 1px solid rgba(255,255,255,.1);
}

.review-container {
    margin-top: 10px;
}

.reviews {
    display: flex;
    flex-wrap: wrap;
}

.review {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(255,255,255,.1);
    border-radius: 4px;
}

.review:not(:last-child) {
    margin-right: 20px;
}

.review-title {
    margin: 20px 0 0;
    font-size: 18px;
    line-height: 1;
}

.review-content {
    margin: 0 20px;
}

.profile-image {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 200px;
    background-color: black;
}