<ng-container *ngIf="expandedTopic">
    <div class="overlay-background" (click)="setExpandedTopic(null)"></div>
    <div class="overlay-container">
        <ion-icon class="overlay-close" (click)="setExpandedTopic(null)" name="ios-close-circle-outline"></ion-icon>

        <div class="overlay-topic-content">

            <img class="overlay-topic-image" *ngIf="expandedTopic.poster_path" src="{{constructPosterImageUrl(expandedTopic.poster_path)}}"/>

            <div class="overlay-topic-info">
                <h1>{{expandedTopic.original_title || expandedTopic.original_name}}</h1>
                <div class="topic-description">{{expandedTopic.overview}}</div>
            </div>

            <!-- <div class="overlay-topic-backdrop" *ngIf="expandedTopic.backdrop_path" [style.backgroundImage]="'url('+constructImageUrl(expandedTopic.backdrop_path, 'lg')+')'"></div> -->

        </div>

        <div class="topic-social">

            <!--Self Review Container-->
            <div class="review-container">
                <h1 class="review-title">Your Review</h1>
                <ng-container *ngIf="postsFromCurrentUser && postsFromCurrentUser.length; else noReviewFromCurrentUser">
                    <div class="reviews">
                        <ng-container *ngFor="let post of postsFromCurrentUser">
                            <div class="review">
                                <div class="profile-image"></div>
                                <div class="review-content">
                                    <div>{{post.profile.firstName}} {{post.profile.lastName}} <span class="user-name">{{post.profile.userName}}</span></div>
                                    <div>{{post.info.text}}</div>
                                </div>
                                <ion-icon *ngIf="post.info.rating; else thumbsDown" name="ios-thumbs-up"></ion-icon>
                                <ng-template #thumbsDown>
                                    <ion-icon name="ios-thumbs-down"></ion-icon>
                                </ng-template>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
                <!-- IF NO POSTS FROM CURRENT USER EXIST -->
                <ng-template #noReviewFromCurrentUser>
                    <div>You haven't reviewed this yet.</div>
                </ng-template>
            </div>

            <!--Friend Review Container-->
            <div class="review-container">
                <h1 class="review-title">Reviews from Friends</h1>
                <!-- IF POSTS FROM FRIENDS EXIST -->
                <ng-container *ngIf="postsFromFollowedUsers && postsFromFollowedUsers.length; else noFriendReviews">
                    <div class="reviews">
                        <ng-container *ngFor="let post of postsFromFollowedUsers">
                            <div class="review">
                                <div class="profile-image"></div>
                                <div class="review-content">
                                    <div>{{post.profile.firstName}} {{post.profile.lastName}} <span class="user-name">@{{post.profile.userName}}</span></div>
                                    <div>{{post.info.text}}</div>
                                </div>
                                <ion-icon *ngIf="post.info.rating; else thumbsDown" name="ios-thumbs-up"></ion-icon>
                                <ng-template #thumbsDown>
                                    <ion-icon name="ios-thumbs-down"></ion-icon>
                                </ng-template>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
                <!-- IF NO POSTS FROM FRIENDS EXIST -->
                <ng-template #noFriendReviews>
                    <div>No friends have reviewed this yet.</div>
                </ng-template>
            </div>
        </div>
    </div>
</ng-container>

<ng-template #loading>
    <div>Loading...</div>
</ng-template>
