.user-popup {
    position: absolute;
    transform: translateX(-50%);
    background-color: black;
    padding: 15px;
    border: 1px solid rgba(255,255,255,.1);
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0,0,0,.5);
}

.user-name {
    font-size: 12px;
    color: rgba(255,255,255,.5);
}

.stat-container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.stat:not(:first-child) {
    margin-left: 15px;
}

.stat-title {
    font-size: 12px;
    color: rgba(255,255,255,.5);
}

.follow-button {
    display: block;
    margin-top: 15px;
}