<div class="user-popup" [ngStyle]="{'left.px': userPopupPayload.xPos, 'top.px': userPopupPayload.yPos}">
    <div *ngIf="userPopupPayload.otherUserProfile.name">{{userPopupPayload.otherUserProfile.firstName}} {{userPopupPayload.otherUserProfile.lastName}}</div>
    <div *ngIf="userPopupPayload.otherUserProfile.userName" class="user-name">@{{userPopupPayload.otherUserProfile.userName}}</div>
    <div class="stat-container">
        <div class="stat">
            <div class="stat-title">Followers</div>
            <div>{{userPopupPayload.otherUserProfile.followers?.length || "0"}}</div>
        </div>
        <div class="stat">
            <div class="stat-title">Following</div>
            <div>{{userPopupPayload.otherUserProfile.following?.length || "0"}}</div>
        </div>
    </div>
    <app-follow-button [currentUserProfile]="userPopupPayload.currentUserProfile" [otherUserProfile]="userPopupPayload.otherUserProfile" class="follow-button"></app-follow-button>
</div>