<ng-container *ngIf="!loading; else loadingSpinner">

    <ng-container *ngIf="!loading && !posts && feedBelongsToCurrentUser; then currentUserEmptyFeed"></ng-container>
    <ng-container *ngIf="!loading && !posts && !feedBelongsToCurrentUser; then emptyFeed"></ng-container>

    <div *ngIf="posts" class="feed">

        <ng-container *ngFor="let post of posts">

            <ng-container *ngIf="post.profile && post.topic">

                <div class="post" [class.my-post]="post.currentUser">

                    <!-- HEADER -->
                    <div class="header">
                        <div class="user" routerLink="/{{post.profile.userIdentifier}}" routerLinkActive="active">
                            <span>{{post.profile.firstName}} {{post.profile.lastName}}</span>
                            <span class="user-name">@{{post.profile.userName}}</span>
                        </div>
                        <div>{{post.timeFromPost}}</div>
                    </div>

                    <!-- CONTENT -->
                    <div class="body">

                        <img (click)="setExpandedTopic(post.topic)" class="post-image" *ngIf="post.topic.poster_path; else emptyPosterPlaceholder"
                            src="{{constructPosterImageUrl(post.topic.poster_path)}}" />
                        <ng-template #emptyPosterPlaceholder>
                            <div class="post-image-placeholder"></div>
                        </ng-template>
                        <!-- POST REVIEW -->
                        <div class="content">
                            <div class="topic-title">{{post.topic.title || post.topic.name}}</div>
                            <div class="topic-review">{{post.text}}</div>
                            <!-- <div class="topic-review" *ngIf="!postIsEditable(post.id)">{{post.text}}</div> -->
                        </div>

                        <!-- EDIT POST FORM -->
                        <!-- <form class="edit-post-container" #postForm="ngForm" (ngSubmit)="updatePost(post.id, postForm)" *ngIf="postIsEditable(post.id)" autocomplete="off">
                                    <input class="edit-post-box" type="text" name="edit-post" class="post-review" [(ngModel)]="updatedPost.text">
                                    <button class="edit-post-button">Update Post</button>
                                </form> -->

                    </div>

                    <div class="footer">
                        <img *ngIf="post.currentUser" (click)="deletePost(post.id)" class="post-delete" src="assets/icons/trash.svg" />
                        <!-- <div *ngIf="post.currentUser" (click)="editPost(post.id)">Edit Post</div> -->

                        <!-- RATING -->
                        <img *ngIf="post.rating" class="rating" src="assets/icons/rating-positive.svg" />
                        <img *ngIf="!post.rating" class="rating" src="assets/icons/rating-negative.svg" />
                    </div>

                </div>

            </ng-container>

        </ng-container>

        <app-topic-popup></app-topic-popup>

    </div>

</ng-container>

<ng-template #currentUserEmptyFeed>
    <div>Looks like your feed is empty! Reviews will appear here once you've written one or follow someone who has.</div>
</ng-template>
<ng-template #emptyFeed>
    <div>Looks like this person doesn't have any reviews yet.</div>
</ng-template>
<ng-template #loadingSpinner>
    <div class="loading-spinner-container">
        <mat-spinner color="accent"></mat-spinner>
    </div>
</ng-template>