.loading-spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.feed {
    margin-top: 20px;
}

.post {
    padding: 20px;
}

.post:not(.my-post) .user {
    cursor: pointer;
}

.my-post {
    background-color: hsl(0,0%,10%);
}

.post:not(:last-child) {
    border-bottom: 1px solid hsl(0,0%,20%);
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.user-name {
    margin-left: 5px;
    color: hsl(0,0%,50%);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.body {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

.post-image {
    cursor: pointer;
    width: 80px;
    border-radius: 4px;
}

.content {
    margin: 0 20px;
}

.topic-title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
}

.topic-review {
    margin-top: 10px;
}

.rating {
    margin-left: auto;
    width: 20px;
    height: 20px;
}

.rating-positive {
    color: #28d428;
}

.rating-negative {
    color: #d42828;
}

.post-delete {
    cursor: pointer;
    width: 20px;
    height: 20px;
    transition: transform .1s ease-in-out;
}

.post-delete:hover {
    transform: scale(1.25);
}

.edit-post-container {
    display: flex;
    flex: 1;
}

.edit-post-box {
    font-size: 16px;
}

.edit-post-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: dodgerblue;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 0;
    border-radius: 4px;
}
