<app-header *ngIf="currentUserProfile" [currentUserProfile]="currentUserProfile"></app-header>

<div class="app-container">
    <router-outlet></router-outlet>
    <!-- <app-search></app-search> -->
    <!-- <app-login></app-login> -->
    <!-- <app-user-panel *ngIf="currentUserProfile" [currentUserProfile]="currentUserProfile"></app-user-panel> -->
    <!-- <app-post-box></app-post-box> -->
</div>
