<div *ngIf="users && users.length" class="users">
    <div *ngFor="let user of users" class="user">
        <div>{{user.displayName}} | {{user.userName}}</div>
        <div>{{user.firstName}} {{user.lastName}}</div>
        <app-follow-button [currentUser]="currentUser" [postUser]="user"></app-follow-button>
    </div>
</div>
