header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: hsl(0, 0%, 10%);
  border-radius: 5px;
}

.user-name {
  color: hsla(0, 0%, 100%, .5);
}