<div *ngIf="userProfile">
    <header>
        <div>{{userProfile.firstName || userProfile.name?.first}} {{userProfile.lastName || userProfile.name?.last}} <span class="user-name">@{{userProfile.userName}}</span></div>
        <app-follow-button *ngIf="currentUserProfile && currentUserProfile.userIdentifier !== userProfile.userIdentifier" [currentUserProfile]="currentUserProfile" [otherUserProfile]="userProfile" class="follow-button"></app-follow-button>
    </header>
    <app-feed [userProfile]="userProfile" [displayPostsFromFollowedUsers]=false></app-feed>
</div>