@import "~@angular/material/prebuilt-themes/purple-green.css";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: white;
  line-height: 1.6;
  background-color: black;
}

input {
  color: white;
  background-color: rgba(255,255,255,.1);
  border: 0;
  outline: 0;
  border-radius: 4px;
}

* {
  box-sizing: border-box;
}

/* .button {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 100px;
    background-color: rgba(255,255,255,.1);
    text-align: center;
} */

/* Modal/Overlay */
.overlay-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}

.overlay-container {
    position: fixed;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background-color: black;
    overflow: hidden;
    border: 1px solid rgba(255,255,255,.2);
    box-shadow: 0 0 40px rgba(0,0,0,.5);
}

.overlay-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    z-index: 1;
    color: white;
    cursor: pointer;
}

.user-name {
    color: hsl(0,0%,50%);
}