<div class="search-container">
    <input #userSearch class="search-box" type="text" (keyup.enter)="search(userSearch.value)" placeholder="Find People" autocomplete="off">
    <!-- <input class="search-box" #userSearch type="text" (keyup.enter)="search(userSearch.value)" (blur)="hideSearchResults()"/> -->
    <div class="search-results" *ngIf="searchResults && searchResultsVisible">
        <div class="result" *ngFor="let result of searchResults" routerLink="/{{result.objectID}}" (click)="hideSearchResults()">{{result.firstName}}
            {{result.lastName}} <span class="user-name">@{{result.userName}}</span></div>
    </div>
</div>