.search-container {

}

.search-box {
    padding: 10px;
    font-size: 14px;
}

.search-results {
    position: absolute;
    top: 60px;
    left: 50%;
    width: 50%;
    transform: translateX(-50%);
    background-color: black;
    border: 1px solid hsla(0,0%,100%,.1);
    z-index: 1;
}

.result {
    cursor: pointer;
    padding: 10px;
}

.result:not(:first-child) {
    border-top: 1px solid hsla(0,0%,100%,.1);
}

.user-name {
    color: hsl(0,0%,50%);
}