<h1>Settings</h1>
<form *ngIf="currentUserProfile" #settingsForm [formGroup]="settings" (ngSubmit)="updateAccount(settingsForm)">
    <div>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" placeholder="{{currentUserProfile.firstName}}">
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" placeholder="{{currentUserProfile.lastName}}">
        </mat-form-field>
        <mat-form-field appearance="outline" color="accent">
            <mat-label>User Name</mat-label>
            <input matInput autocomplete="off" formControlName="userName" placeholder="{{currentUserProfile.userName}}">
        </mat-form-field>
    </div>
    <button mat-flat-button color="accent">Update Account</button>
</form>